main, header, section, footer {
    margin: 0;
    padding: 20px;
}

@media screen and (min-width:640px) {
    .flex-container {
        display:flex;
    }
}
.events {
    flex: 1;
}
.property {
    flex: 0 1 600px;
}
.socials {
    flex: 0 1 600px;
}
.bio {
    flex: 1;
}
.wrapper {
    margin:auto;
    max-width: 1200px;
}